{% extends "base.html" %}
{% block content %}
<div class='card card-body'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    {% if student_create == False %}
    <h1>Create group</h1>
    {% else %}
    <h1>STUDENT CREATE</h1>
    {% endif %}
    
    
    <form action="" method="POST">
        {% csrf_token %}
        
        {{forma.as_p}}
        
        <button class="btn btn-primary" type="submit">Save</button>
    </form>        
</div>

{% endblock %}