{% extends 'base.html' %}
{% block content %}

  <!-- ASOSIY CODE SHGU YERA YOZILADI -->
  <!-- CARD -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} style="color: lawngreen;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="table_cards_wrapper">
    <div class="table_cards">
      {% for student in students %}
      <div class="table_card">
        <div class="table_card_left">
          <div class="table_card_name">{{student.name}}</div>
          {% comment %} <div class="table_card_phone">{{lestudent.price}}</div> {% endcomment %}
        </div>
        <div class="table_card_right">
          <div class="table_card_edit">
            {% comment %} <a href = '{% url "student_update" student.id %}'><i class="fa-regular fa-pen-to-square" style="color: lawngreen;"></i></a>   
            <a href = '{% url "student_delete" student.id %}'><i class="fa-regular fa-trash" style="color: red; margin-left: 10px;"></i></a> {% endcomment %}
          </div>
          {% comment %} <div class="table_card_time">{{lead.created_at}}</div> {% endcomment %}
        </div>
      </div>
      {% endfor %}
    </div>

  
  </div>
{% endblock %}